footer {
  padding: 0.5em 0em 2em 0em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0em 1em 0em 1em;
  overflow: hidden;
  text-align: center;
}

footer li {
  padding: 0em 1em 0em 1em;
  display: inline-block;
}

footer li a {
  text-decoration: none;
}